{% extends 'baseDashboard.html' %}
{% block additional_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/addRiskSettingsStyles.css') }}">
{% endblock %}
{% block dash_content %}
<div class="add-account-header">
   <h2></h2>
</div>
<div class="risk-settings-div">
   <div class="risk-settings-content">
      <h3>Risk Settings: Fixed Lots</h3>
      <form method="POST" action="{{ url_for('page.add_child_account_fixed_settings', brokerage= brokerage) }}">
          {{ form.hidden_tag() }}
         <div class="form-group">
             {{ form.fixed_lot_trade_size.label }}
             {{ form.fixed_lot_trade_size() }}
         </div>
          <div class="form-group">
              {{ form.fixed_stop_loss.label }}
              {{ form.fixed_stop_loss() }}
          </div>
          <div class="form-group">
              {{ form.fixed_take_profit.label }}
              {{ form.fixed_take_profit() }}
          </div>

          {{ form.submit(class="submit-button") }}

      </form>
   </div>
   <script>
      const accountsSection = document.querySelector('.accounts-section');
      accountsSection.classList.add('active-section')
   </script>
</div>
{% endblock %}
